
.git
.gitignore


*.pyc
*.pyo
*.pyd
__pycache__
db.sqlite3
node_modules
*.env


/static
/media


venv/
virtualenv/
.env
*.pyc
*.pyo
*.pyd
__pycache__

# Exclude other unnecessary files or directories
*.log
*.pot
*.potx
*.pyc
*.pyo
*.pyd
__pycache__
local_settings.py
